<div class="navbar" ng-controller="NavController as nc">
  <div class="container">
    <!-- <ul>
      <li><a href="#/user">User Home</a></li>
      <li><a href="#/info">Info Page</a></li>
      <li><a href="#/play">PLAY</a></li>
      <li><a href="#/edit">EDIT</a></li>
    </ul> -->
    <!-- <a href="#/play">PLAY</a> -->


    <button id="gohome" ng-click="nc.goHome()"><i class="material-icons">home</i></button> &emsp;
    <button ng-click="nc.userService.logout()">Log out</button>
  </div>
</div>
