
<div ng-include="'views/partials/nav.html'"></div>

<p>in all worlds....</p>
<input type="text" placeholder="Search" ng-model="searchText" />
<br><br>

<div class="row">

<!-- needing the weird world.world stuff here because need allWorldIds to contain both the world and the obstacles array -->
  <div ng-repeat="world in ac.allWorldIds | filter:searchText | orderBy:'id'" class="col-lg-3 col-md-4 boxMain">

    <p>Author: {{world.world.username}}</p>
    <p>Title: {{world.world.title}}, {{world.id}}
    <p>Cannon: ({{world.world.start_x}}, {{world.world.start_y}})</p>

    <!-- <p>Cannon-y: </p> -->

    <p>Bucket: ({{world.world.end_x}}, {{world.world.end_y}})</p>
    <!-- <p>Bucket-y: {{world.world.end_y}}</p> -->
    <p>Views: {{world.world.attempts}}</p>
    <p>Favorites: {{world.favs}}</p>
    <p>Completions: {{world.completions}}</p>
    <div ng-repeat="completion in world.compList | orderBy: 'time' | limitTo: 3">
      <ul>
        <li>{{completion.username}}: {{completion.time}} sec.</li>
        <!-- <li>Time: {{completion.time}}</li> -->
      </ul>
    </div>
    <br>
    <canvas height=200 width=270 id="canvas{{world.id}}"></canvas>
    <!-- id="canvas{{world.id}}" -->
    <br>
    <p>Obstacles:</p>


    <div ng-repeat="obstacle in world.obstacles ">
      <ul>
        <li>Type: {{obstacle.type}}</li>
      </ul>
      <!-- <p>Type: {{obstacle.type}}</p>
      <p>Height: {{obstacle.h}}</p>
      <p>Width: {{obstacle.w}}</p>
      <p>x-location: {{obstacle.x}}</p>
      <p>y-location: {{obstacle.y}}</p> -->
    </div>
    <br>

    <p><button ng-click="ac.playWorld(world)">PLAY</button></p>
    <button ng-click="ac.faveWorld(world)" ng-hide="world.isFavorited">FAVORITE</button>
    <button ng-click="ac.unfavorite(world)" ng-show="world.isFavorited">UNFAVORITE :(</button>

    <!-- <p ng-show="world.isFavorited">YOU LOVE THIS!</p><br> -->

  </div>
</div>
