
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">


  <md-button class="md-primary md-raised" ng-click="ec.titleWorld($event)">Post World</md-button>
  <br>

  <md-button class="md-primary md-raised" ng-click="ec.saveWorld(ec.newWorld)">Save for Later</md-button>

<!-- <form ng-submit="pc.addWorld(pc.newWorld)"> -->
  <form ng-submit="ec.showWorld()">
  <!-- Start x: <input type="number" ng-model="pc.newWorld.start_x"> -->
  <div class="row">
    <div class="col-lg-3 col-md-3">
  <md-slider-container>
        <span>Cannon-x</span>
        <md-slider flex min="50" max="750" ng-model="ec.newWorld.start_x" aria-label="startx" class="md-primary">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="ec.newWorld.start_x" aria-label="startx" aria-controls="startx-slider">
        </md-input-container>
      </md-slider-container>
    </div>
  <!-- Start y: <input type="number" ng-model="pc.newWorld.start_y"> -->
  <div class="col-lg-3 col-md-3">

  <md-slider-container>
        <span>Cannon-y</span>
        <md-slider flex min="50" max="550" ng-model="ec.newWorld.start_y" aria-label="starty" class="md-primary">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="ec.newWorld.start_y" aria-label="starty" aria-controls="starty-slider">
        </md-input-container>
      </md-slider-container>

    </div>
  <!-- End x: <input type="number" ng-model="pc.newWorld.end_x"> -->
  <div class="col-lg-3 col-md-3">

  <md-slider-container>
        <span>Bucket-x</span>
        <md-slider flex min="50" max="750" ng-model="ec.newWorld.end_x" aria-label="endx" class="md-primary">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="ec.newWorld.end_x" aria-label="endx" aria-controls="endx-slider">
        </md-input-container>
      </md-slider-container>
    </div>
  <!-- End y: <input type="number" ng-model="pc.newWorld.end_y"> -->
  <div class="col-lg-3 col-md-3">

  <md-slider-container>
        <span>Bucket-y</span>
        <md-slider flex min="50" max="550" ng-model="ec.newWorld.end_y" aria-label="endy" class="md-primary">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="ec.newWorld.end_y" aria-label="endy" aria-controls="endy-slider">
        </md-input-container>
      </md-slider-container>
    </div>
  <input type="submit">
</div>
</form>
<br><br>

ADD AN OBSTACLE:
<button ng-click="ec.showObstacle()">New obstacle</button>

{{ec.newObstacle.type}}
<form ng-submit="ec.addObstacle(ec.newObstacle)" ng-show="ec.showObst">
<!-- Start x: <input type="number" ng-model="pc.newWorld.start_x"> -->
<div class="row">
  <select ng-model="ec.newObstacle.type">
        <option value="rect">Rectangle</option>
        <option value="circle">Circle</option>

      </select>

    </div>
    <div class="row">
  <div class="col-lg-3 col-md-3">
<md-slider-container>
      <span>x-center:</span>
      <md-slider flex min="50" max="750" ng-model="ec.newObstacle.x" aria-label="obstx" class="md-primary">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="ec.newObstacle.x" aria-label="obstx" aria-controls="obstx-slider">
      </md-input-container>
    </md-slider-container>
  </div>
<!-- Start y: <input type="number" ng-model="pc.newWorld.start_y"> -->
<div class="col-lg-3 col-md-3">

<md-slider-container>
      <span>y-center:</span>
      <md-slider flex min="50" max="550" ng-model="ec.newObstacle.y" aria-label="obsty" class="md-primary">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="ec.newObstacle.y" aria-label="obsty" aria-controls="obsty-slider">
      </md-input-container>
    </md-slider-container>

  </div>
<!-- End x: <input type="number" ng-model="pc.newWorld.end_x"> -->
<div class="col-lg-3 col-md-3">

<md-slider-container>
      <span ng-show="ec.newObstacle.type == 'rect'">Height:</span>
      <span ng-show="ec.newObstacle.type == 'circle'">Radius:</span>
      <md-slider flex min="50" max="750" ng-model="ec.newObstacle.h" aria-label="obsth" class="md-primary">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="ec.newObstacle.h" aria-label="obsth" aria-controls="obsth-slider">
      </md-input-container>
    </md-slider-container>
  </div>
<!-- End y: <input type="number" ng-model="pc.newWorld.end_y"> -->
<div class="col-lg-3 col-md-3">

<md-slider-container ng-show="ec.newObstacle.type == 'rect'">
      <span>Width:</span>
      <md-slider flex min="50" max="550" ng-model="ec.newObstacle.w" aria-label="obstw" class="md-primary">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="ec.newObstacle.w" aria-label="obstw" aria-controls="obstw-slider">
      </md-input-container>
    </md-slider-container>

  </div>

  <div class="col-lg-3 col-md-3">

    <md-slider-container ng-show="ec.newObstacle.type == 'rect'">
          <span>Angle:</span>
          <md-slider flex min="0" max="360" ng-model="ec.newObstacle.a" aria-label="obsta" class="md-primary">
          </md-slider>
          <md-input-container>
            <input flex type="number" ng-model="ec.newObstacle.a" aria-label="obsta" aria-controls="obsta-slider">
          </md-input-container>
        </md-slider-container>
  </div>
<input type="submit">
</div>
</form>

<button ng-click="ec.showPortal()">New Portal</button>

<form ng-show="ec.isNewPortal" ng-submit="ec.addPortal(ec.newPortal)">
  <div class="row">
    <div class="col-lg-3 col-md-3">

      <md-slider-container>
            <span>FIRST:</span>
            <md-slider flex min="30" max="770" ng-model="ec.newPortal.y1" aria-label="port1" class="md-primary">
            </md-slider>
            <md-input-container>
              <input flex type="number" ng-model="ec.newPortal.y1" aria-label="port1" aria-controls="port1-slider">
            </md-input-container>
          </md-slider-container>
    </div>

    <div class="col-lg-3 col-md-3">

      <md-slider-container>
            <span>SECOND:</span>
            <md-slider flex min="30" max="770" ng-model="ec.newPortal.y2" aria-label="port2" class="md-primary">
            </md-slider>
            <md-input-container>
              <input flex type="number" ng-model="ec.newPortal.y2" aria-label="port2" aria-controls="port2-slider">
            </md-input-container>
          </md-slider-container>

          <input type="submit">
    </div>



  </div>

</form>




  <br><br>
  <canvas id="hi" height="600px" width="800px"></canvas>

</div>
