
<div ng-include="'views/partials/nav.html'"></div>
<div class=" favContainer" id="canvasHolder">

  <div layout layout-align="center center">
  <h2 class="lead2">MY FAVORITE WORLDS</h2>
</div>

  <input type="text" placeholder="Search" ng-model="searchText" />


  <!-- <button ng-click="fc.getFaves()">Get 'em!</button> -->
  <br>
  

  <div layout="row" layout-padding layout-wrap layout-fill>

  <div flex-xs="55" flex-sm="45" flex-md="35" flex-lg="30" flex-gt-lg="20" ng-repeat="fave in fc.faveIds | filter:searchText | orderBy: 'id'" class="favBox">
    <h3 layout layout-align="center center">{{fave.title}}</h3>
    <!-- <p>Cannon: ({{fave.start_x}}, {{fave.start_y}})</p>
    <p>Bucket: ({{fave.end_x}}, {{fave.end_y}})</p> -->
    <p> </p>


    <canvas class="favCan" height=200 width=270 id="fav{{fave.id}}"></canvas>
    <br><br>
    <div layout="row">
      <div flex="20">
        <span class ="material-icons" title="Attempts">directions_run</span> {{fave.attempts}}

      </div>
      <div flex="20">
        <span class ="material-icons" title="Completions">check_circle</span> {{fave.completions}}
      </div>
      <div flex="20">
        <span >

          <span class="material-icons" title="Personal Best">timer</span>
          <span ng-show="fave.allTimes.length" ng-repeat="time in fave.allTimes | orderBy: 'time' | limitTo: 1">
            {{time.time/10}} s.
        </span>
        </span>
      </div>
      <div flex="20">
        <button ng-click="fc.play3World(fave)"><span class ="material-icons" title="Play">play_arrow</span></button>

      </div>
      <div flex="20">
        <button ng-click="fc.unfavorite(fave)"><span class ="material-icons" title="Unfavorite">star</span></button>

      </div>
    </div>


    <p></p>

  </div>
  </div>

</div>
