
<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
  In game...

  <ul>
    <li>Level 1</li>
    <li>Level 2</li>
    <li>Level 3</li>
    <li>Level 4</li>
    <li>Level 5</li>
  </ul>

  <!-- <div class="level-container"> -->
    <!-- <md-button class="md-primary md-raised level-btn" ng-click="uc.go('/game')">
      LEVEL 1
    </md-button> -->
    <div class="level-btn2">
      LEVEL 1
      <img src="https://imageog.flaticon.com/icons/png/512/44/44594.png?size=100x52f&pad=10,10,10,10&ext=png&bg=FFFFFFFF">
    </div>
    <!-- <img src="https://imageog.flaticon.com/icons/png/512/44/44594.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"> -->
  <!-- </div> -->

  <br><br>
  <div class="level-container">
    <div class="level-btn">
      LEVEL 2
    </div>
    <!-- <img src="https://imageog.flaticon.com/icons/png/512/44/44594.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"> -->
  </div>

  <br><br>
  <div class="level-container">
    <div class="level-btn">
      LEVEL 3
    </div>
    <!-- <img src="https://imageog.flaticon.com/icons/png/512/44/44594.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"> -->
  </div>

  <br><br>
  <div class="level-container">
    <div class="level-btn">
      LEVEL 4
    </div>
    <!-- <img src="https://imageog.flaticon.com/icons/png/512/44/44594.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"> -->
  </div>

  <br><br>
  <div class="level-container">
    <div class="level-btn">
      LEVEL 5
    </div>
    <!-- <img src="https://imageog.flaticon.com/icons/png/512/44/44594.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"> -->
  </div>
  <br><br>


</div>
