
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <h2>
    MY PROFILE:
  </h2>
  <h4>Worlds I've Made:</h4>
  <button ng-click="ic.getWorlds()">Get 'em!</button>
    <div ng-repeat="world in ic.worldIds">
      {{world}}
    </div>
  <h4>Worlds In Progress:</h4>
  <button ng-click="ic.getSavedWorlds()">Go on get 'em!</button>
    <div ng-repeat="world in ic.savedWorldIds">
      {{world}}
    </div>
  <h4>My Favorite Worlds:</h4>


  <h4>All the Worlds:</h4>
  <button ng-click="ic.getAllWorlds()">Whole enchilada</button>
  <!-- <div layout="row"> -->
  <div class="row">

  <!-- needing the weird world.world stuff here because need allWorldIds to contain both the world and the obstacles array -->
    <div ng-repeat="world in ic.allWorldIds" class="col-lg-3 col-md-4">

      <p>Author: {{world.world.maker_id}}</p>
      <p>Cannon-x: {{world.world.start_x}}</p>

      <p>Cannon-y: {{world.world.start_y}}</p>

      <p>Bucket-x: {{world.world.end_x}}</p>
      <p>Bucket-y: {{world.world.end_y}}</p>
      <p>Obstacles:</p>
      <p><button ng-click="ic.playWorld(world)">PLAY</button></p>
      <div ng-repeat="obstacle in world.obstacles" class="col-lg-3 col-md-4">
        <p>Type: {{obstacle.type}}</p>
        <p>Height: {{obstacle.h}}</p>
        <p>Width: {{obstacle.w}}</p>
        <p>x-location: {{obstacle.x}}</p>
        <p>y-location: {{obstacle.y}}</p>
      </div>

    </div>
  </div>

  <!-- </div> -->

</div>
