
<div ng-include="'views/partials/nav.html'"></div>
<div class=" myContainer" id="canvasHolder">

<div layout layout-align="center center">
  <h2 class="lead2">WORLDS I'VE WOVEN</h2>

</div>
  <input type="text" placeholder="Search" ng-model="searchText" />


  <!-- <button ng-click="mc.getWorlds()">Get 'em!</button> -->
  <br>

  <div layout="row" layout-padding layout-wrap layout-fill>

    <div flex-xs="55" flex-sm="45" flex-md="35" flex-lg="30" flex-gt-lg="20" ng-repeat="world in mc.worldIds | filter:searchText | orderBy: 'id'" class="myBox">
      <div layout layout-align="center center"><h4>{{world.title}}</h4></div>
      <!-- <p>Cannon: ({{world.start_x}}, {{world.start_y}})</p>
      <p>Bucket: ({{world.end_x}}, {{world.end_y}})</p> -->

      <!-- <p>Best times:</p> -->

      <canvas class="mineCan" height=200 width=270 id="mine{{world.id}}"></canvas>

      <div layout="row" layout-padding layout layout-align="center center">
        <div flex="16">
          <span class ="material-icons" title="Attempts">directions_run</span> {{world.attempts}}

        </div>
        <div flex="16">
          <span class ="material-icons" title="Completions">check_circle</span> {{world.completions}}
        </div>
        <div flex="16">
          <span class ="material-icons" title="Favorites">star</span> {{world.favs}}
        </div>
        <div flex="16">
          <button ng-click="mc.play2World(world)"><span class ="material-icons" title="Play">play_arrow</span></button>
        </div>
        <div flex="16">
          <button ng-click="mc.editWorld(world)"><span class ="material-icons" title="Edit">mode_edit</span></button>
        </div>
        <div flex="16">
          <button ng-click="mc.delWorld(world)"><span class ="material-icons" title="Delete">delete</span></button>
        </div>

      </div>
<!--
      <br>

      &emsp;&emsp;
      &emsp;&emsp; -->



      <!-- {{world}} -->
    </div>
  </div>

</div>
