
<div ng-include="'views/partials/nav.html'"></div>
<div class="container" id="canvasHolder">
  <p>
    In play
  </p>

  <button ng-click="pc.getWorld()">Get it</button>
  <br><br>
  <button ng-click="pc.addWorld(pc.newWorld)">Add it to DB</button>
  <br><br>
  <button ng-click="pc.saveWorld(pc.newWorld)">Save for Later</button>

<!-- <form ng-submit="pc.addWorld(pc.newWorld)"> -->
  <form ng-submit="pc.showWorld()">
  <!-- Start x: <input type="number" ng-model="pc.newWorld.start_x"> -->
  <md-slider-container>
        <span>Cannon-x</span>
        <md-slider flex min="50" max="750" ng-model="pc.newWorld.start_x" aria-label="red" class="md-primary">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="pc.newWorld.start_x" aria-label="startx" aria-controls="startx-slider">
        </md-input-container>
      </md-slider-container>
  <!-- Start y: <input type="number" ng-model="pc.newWorld.start_y"> -->
  <md-slider-container>
        <span>Cannon-y</span>
        <md-slider flex min="50" max="550" ng-model="pc.newWorld.start_y" aria-label="starty" class="md-primary">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="pc.newWorld.start_y" aria-label="starty" aria-controls="starty-slider">
        </md-input-container>
      </md-slider-container>
  <!-- End x: <input type="number" ng-model="pc.newWorld.end_x"> -->
  <md-slider-container>
        <span>Bucket-x</span>
        <md-slider flex min="50" max="750" ng-model="pc.newWorld.end_x" aria-label="endx" class="md-primary">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="pc.newWorld.end_x" aria-label="endx" aria-controls="endx-slider">
        </md-input-container>
      </md-slider-container>
  <!-- End y: <input type="number" ng-model="pc.newWorld.end_y"> -->
  <md-slider-container>
        <span>Bucket-y</span>
        <md-slider flex min="50" max="550" ng-model="pc.newWorld.end_y" aria-label="endy" class="md-primary">
        </md-slider>
        <md-input-container>
          <input flex type="number" ng-model="pc.newWorld.end_y" aria-label="endy" aria-controls="endy-slider">
        </md-input-container>
      </md-slider-container>
  <input type="submit">
</form>
<br><br>
<form ng-submit="pc.addObstacle(pc.newObstacle)">
  Center-x: <input type="number" ng-model="pc.newObstacle.x">
  Center-y: <input type="number" ng-model="pc.newObstacle.y">
  Height/Radius: <input type="number" ng-model="pc.newObstacle.h">
  Width: <input type="number" ng-model="pc.newObstacle.w">
  Type ('rect' or 'circle'): <input type="text" ng-model="pc.newObstacle.type">

  <input type="submit">
</form>
  <br><br>
  <div ng-repeat="obstacle in pc.newWorld.obstacles">
    {{obstacle}}
  </div>
  <br><br>

  {{pc.now}}
  <br><br>


</div>
