
<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    <h3 class="head3">SAVED WORLDS</h3>
  </p>

<div layout="row" layout-padding layout-wrap layout-fill>
  <div ng-repeat="world in sc.savedWorldIds" class="savedBox" flex="40">
    <!-- <p>Id: {{world.id}}</p>
    <p>Cannon: ({{world.start_x}}, {{world.start_y}})</p>
    <p>Bucket: ({{world.end_x}}, {{world.end_y}})</p>
    <p>Obstacles {{world.obstacles}}</p>
    <br> -->
    <canvas class="savedCan" height=200 width=270 id="saved{{world.id}}"></canvas>
<br>
    <button ng-click="sc.editWorld(world)">Weave</button>



    <!-- {{world}} -->
  </div>
</div>

</div>
