

.box {
  height: 500px;
  width: 300px;
}

.box2 {
  height: 150px;
  width: 200px;
}

.boxMain {
  background-color: tomato;
  margin: 40px;
  margin-top: 50px;
  border-radius: 7px;
}

.savedBox {
  background-color: lightBlue;
  margin: 5px;
  border-radius: 7px;
}

.mainNav, .gameNav {
  /*margin-left: 200px;*/
  background-color: lightblue;
  border-radius: 8px;
  width: 400px;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;

}

.mainNav {
  margin-top: -20px;
  margin-left: 300px;
  margin-bottom: 400px;

}

.gameNav {
  margin-top: -20px;
  margin-bottom: 400px;
  margin-left: 300px;
  background-color: gold;
  /*opacity: 0.72*/
}


.myBox {
  background-color: MediumSeaGreen;
  margin: 20px;
  margin-top: 40px;
  border-radius: 7px;
  padding: 10px;
}

.favBox, .savedBox {
  background-color: MediumSlateBlue;
  margin: 20px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px;
  width: 450px;

}

.savedBox {
  background-color: lightSalmon;
}

/*.stats {padding-left: 80px;}*/
#nametag {
  padding-left: 25px;
}

.allCan {
  padding-left: 26px;
}

.mineCan {
  padding: 12px;
}



td {
  width: 60px;
}

.tableContainer {
  padding-left: 80px;
  border-radius: 8px;
  background-color: goldenrod;
  /*width: 200px;*/
}

#gohome {
  margin-top: 8px;
}

.gameContainer, .allContainer, .savedContainer {
  /*background-image: url(http://msutoday.msu.edu/_/img/assets/2014/space.jpg);*/
  background-image: url(https://cdn.pixabay.com/photo/2015/11/19/07/27/star-1050487_960_720.jpg);
  /*background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Night_Sky_Stars_Trees_02.jpg/1024px-Night_Sky_Stars_Trees_02.jpg);*/
  background-size: 100%;
  margin-top: -25px;
}


.myContainer {
  background-image: url(http://msutoday.msu.edu/_/img/assets/2014/space.jpg);
  background-size: 100%;
  margin-top: -25px;
}

.homeContainer, .RegContainer {
  background-image: url(https://apod.nasa.gov/apod/image/0512/m31_gendler_Nmosaic1.jpg);
  background-size: 100%;
  margin-top: -25px;
  padding-bottom: 700px;
}

.login, .reg {
  color: white;
  margin-left: 50px;

}

.leadUp {
  color: salmon;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 15px;

}

.login input, .reg input {
  color: black;
}


.favContainer, .myContainer {
  background-image: url(http://eskipaper.com/images/starry-sky-4.jpg);
  background-size: cover;
  margin-top: -25px;
  background-attachment: fixed;
}

.lead2 {
  color: goldenrod;
  font-family: Arial;
  font-weight: bold;
}


.level-btn {
  /*display: inline-block;*/

  /*position: absolute;
  top: 0;
  left: 0;*/

  /*opacity: 0.5;*/
  width: 100px;
  height: 55px;
  background-color: gray;
  color: red;
  font-size: 19px;
  /*z-index: 99;*/
  opacity: 0.7;
  border-radius: 4px;
  /*position: absolute;
  left: 10px;*/
}

.level-btn2 {
  width: 100px;
  height: 55px;
  background-color: gray;
  color: red;
  font-size: 19px;
  /*margin-left: 20%;*/
  /*opacity: 0.6*/
}



.level-container {
  display: inline-block;
 position: relative;
 /*left: 20px;*/
 /*height: 90px;
 width: 60px;*/
 background-image: url(https://imageog.flaticon.com/icons/png/512/44/44594.png?size=100x52f&pad=10,10,10,10&ext=png&bg=FFFFFFFF);
 background-position: 0 0;
 background-repeat: no-repeat;

 /*z-index: 100;*/
}

.stargate {
  background-image: url(http://www.danlessmann.com/FullSizeImages/Astro/Cygnus_2006-10-21_1_PS.jpg);
  /*background-repeat: no-repeat;*/
  background-size: 100%;
  margin-top: -25px;
}

.editContainer {
  background-image: url(https://d1o50x50snmhul.cloudfront.net/wp-content/uploads/2013/05/dn23542-1_800.jpg);
  background-size: cover;
  margin-top: -25px;
  padding: 50px;
}

.head3 {
  margin-right: 18px;
  text-transform: uppercase;
  color: midnightblue;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
}

.label1 {
  text-transform: uppercase;
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  /*width: 90px;*/
}




/*img {
  position: absolute;
  right: 2px;
  top: 10px;
  height: 50px;
  width: auto;
  background: none;
  z-index: 100;
}*/











body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
  background-image: url(http://www.danlessmann.com/FullSizeImages/Astro/Cygnus_2006-10-21_1_PS.jpg);
  /*background-repeat: no-repeat;*/
  background-size: 100%;
  height: 190px;
}

#entryForm {
  margin-top: 14px;
}

/*#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}*/

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
